.video {
  margin: 20px;
  text-align: center; 
}

.title {
  width: 300px;
  margin: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 400px) {
  .video {
    margin: 10px 0px;
  }
}